/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 36149dc7ea8d
 */

import { OpenRouterCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { OpenRouterError } from "../models/errors/openroutererror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Stream a chat completion with an intern
 *
 * @remarks
 * Sends a prompt to one of your interns and streams the reply as OpenAI-compatible server-sent events ending with `[DONE]`. The run executes on the intern, which may pause to ask you something. It then streams one `openrouter.provide_input` tool call and finishes with `finish_reason: "tool_calls"`, and the run stays open on the intern.
 *
 * Every response, whether it ends with `stop`, `tool_calls` or `error`, is followed by a final chunk with empty `choices` that carries `session_id`, then `data: [DONE]`. That chunk carries the `usage` the intern reported for the run, after `stop` or `error`, and `null` when the intern reported none. After `tool_calls` its `usage` is `null` because the turn is not over. Read through `[DONE]`: the `session_id` you need to reply arrives after the `tool_calls` finish chunk.
 *
 * To answer, send a second request with the same `session_id`, the assistant message echoing that tool call, and a `tool` message whose `tool_call_id` is the tool call id and whose `content` is the answer. The answer is delivered to the run that asked and the stream continues from where it paused. A question stays open for its interaction deadline (5 minutes by default) and the run is cancelled when that passes. Rejected replies do not extend the deadline.
 *
 * Closing the connection after the `[DONE]` that follows `finish_reason: "tool_calls"` keeps the run alive. Disconnecting while a response is still streaming cancels the run. The stream writes a `: keepalive` comment whenever nothing else has been written for 30 seconds, so a disconnect is noticed within that interval even while the intern is silent.
 *
 * A run the intern ends while you are still connected, by cancellation or by a deadline, ends the stream with a `finish_reason: "error"` chunk carrying `410` and reason `run_ended`, then the final empty-`choices` chunk and `[DONE]`. That error reports only an ending the intern confirmed. A connection that breaks without that confirmation ends with reason `stream_severed`, and a client that has already disconnected is promised no final event.
 *
 * Set `approval_mode` to `manual` to have the intern ask before approval-bearing tools such as the shell. Omitted, the run self-drives and consents on your behalf. The mode belongs to the run started by that prompt and must be repeated on later prompts.
 *
 * Available to interns programme members. Callers outside the programme receive `404` for every path under `/api/v1/interns`.
 *
 * If set, this operation will use {@link Security.apiKey} from the global security.
 */
export function internsChat(
  client: OpenRouterCore,
  request: operations.CreateInternChatCompletionRequest & {
    internChatCompletionRequest: { stream?: false };
  },
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateInternChatCompletionResponse,
    | errors.InternChatErrorResponse
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
>;
export function internsChat(
  client: OpenRouterCore,
  request: operations.CreateInternChatCompletionRequest & {
    internChatCompletionRequest: { stream: true };
  },
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateInternChatCompletionResponse,
    | errors.InternChatErrorResponse
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
>;
export function internsChat(
  client: OpenRouterCore,
  request: operations.CreateInternChatCompletionRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateInternChatCompletionResponse,
    | errors.InternChatErrorResponse
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
>;
export function internsChat(
  client: OpenRouterCore,
  request: operations.CreateInternChatCompletionRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateInternChatCompletionResponse,
    | errors.InternChatErrorResponse
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: OpenRouterCore,
  request: operations.CreateInternChatCompletionRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.CreateInternChatCompletionResponse,
      | errors.InternChatErrorResponse
      | OpenRouterError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.CreateInternChatCompletionRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.InternChatCompletionRequest, {
    explode: true,
  });

  const pathParams = {
    internId: encodeSimple("internId", payload.internId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/interns/{internId}/chat/completions")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: request?.internChatCompletionRequest?.stream
      ? "text/event-stream"
      : "application/json",
    "HTTP-Referer": encodeSimple(
      "HTTP-Referer",
      payload["HTTP-Referer"] ?? client._options.httpReferer,
      { explode: false, charEncoding: "none" },
    ),
    "X-OpenRouter-Categories": encodeSimple(
      "X-OpenRouter-Categories",
      payload.appCategories ?? client._options.appCategories,
      { explode: false, charEncoding: "none" },
    ),
    "X-OpenRouter-Title": encodeSimple(
      "X-OpenRouter-Title",
      payload.appTitle ?? client._options.appTitle,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "createInternChatCompletion",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || {
        strategy: "backoff",
        backoff: {
          initialInterval: 500,
          maxInterval: 60000,
          exponent: 1.5,
          maxElapsedTime: 3600000,
        },
        retryConnectionErrors: true,
      }
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["5XX"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.CreateInternChatCompletionResponse,
    | errors.InternChatErrorResponse
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.sse(200, operations.CreateInternChatCompletionResponse$inboundSchema, {
      key: "Result",
    }),
    M.json(202, operations.CreateInternChatCompletionResponse$inboundSchema, {
      key: "Result",
    }),
    M.jsonErr(
      [400, 401, 403, 404, 408, 410, 413],
      errors.InternChatErrorResponse$inboundSchema,
    ),
    M.jsonErr([409, 429], errors.InternChatErrorResponse$inboundSchema, {
      hdrs: true,
    }),
    M.jsonErr(503, errors.InternChatErrorResponse$inboundSchema, {
      hdrs: true,
    }),
    M.jsonErr([502, 504], errors.InternChatErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
