/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: b714b9bd8f2a
 */

import * as z from "zod/v4";
import { OpenRouterCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { OpenRouterError } from "../models/errors/openroutererror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Delete an intern secret
 *
 * @remarks
 * Deletes a secret stored for one intern. Returns 204 with no body on success and 404 when the secret does not exist in the selected scope. Writes return 503 while vault writes are disabled for the caller. The scope is selected by the API key: workspace routes act on the key's active workspace and intern routes act on one intern inside that workspace. There is no default workspace and no fallback to another scope. Every vault route, including reads, requires access to the Intern API programme and returns 404 outside it. Requests on regional hostnames such as `eu.openrouter.ai` are refused. [API key](/docs/api-reference/authentication) required.
 *
 * If set, this operation will use {@link Security.apiKey} from the global security.
 */
export function vaultDeleteInternVaultSecret(
  client: OpenRouterCore,
  request: operations.DeleteInternVaultSecretRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    void,
    | errors.BadRequestResponseError
    | errors.UnauthorizedResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.RequestTimeoutResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerResponseError
    | errors.BadGatewayResponseError
    | errors.ServiceUnavailableResponseError
    | errors.GatewayTimeoutResponseError
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: OpenRouterCore,
  request: operations.DeleteInternVaultSecretRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      void,
      | errors.BadRequestResponseError
      | errors.UnauthorizedResponseError
      | errors.ForbiddenResponseError
      | errors.NotFoundResponseError
      | errors.RequestTimeoutResponseError
      | errors.TooManyRequestsResponseError
      | errors.InternalServerResponseError
      | errors.BadGatewayResponseError
      | errors.ServiceUnavailableResponseError
      | errors.GatewayTimeoutResponseError
      | OpenRouterError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.DeleteInternVaultSecretRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    internId: encodeSimple("internId", payload.internId, {
      explode: false,
      charEncoding: "percent",
    }),
    name: encodeSimple("name", payload.name, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/vault/interns/{internId}/secrets/{name}")(
    pathParams,
  );

  const headers = new Headers(compactMap({
    Accept: "application/json",
    "HTTP-Referer": encodeSimple(
      "HTTP-Referer",
      payload["HTTP-Referer"] ?? client._options.httpReferer,
      { explode: false, charEncoding: "none" },
    ),
    "X-OpenRouter-Categories": encodeSimple(
      "X-OpenRouter-Categories",
      payload.appCategories ?? client._options.appCategories,
      { explode: false, charEncoding: "none" },
    ),
    "X-OpenRouter-Title": encodeSimple(
      "X-OpenRouter-Title",
      payload.appTitle ?? client._options.appTitle,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "deleteInternVaultSecret",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || {
        strategy: "backoff",
        backoff: {
          initialInterval: 500,
          maxInterval: 60000,
          exponent: 1.5,
          maxElapsedTime: 3600000,
        },
        retryConnectionErrors: true,
      }
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["5XX"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "DELETE",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    void,
    | errors.BadRequestResponseError
    | errors.UnauthorizedResponseError
    | errors.ForbiddenResponseError
    | errors.NotFoundResponseError
    | errors.RequestTimeoutResponseError
    | errors.TooManyRequestsResponseError
    | errors.InternalServerResponseError
    | errors.BadGatewayResponseError
    | errors.ServiceUnavailableResponseError
    | errors.GatewayTimeoutResponseError
    | OpenRouterError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.nil(204, z.void()),
    M.jsonErr(400, errors.BadRequestResponseError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedResponseError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenResponseError$inboundSchema),
    M.jsonErr(404, errors.NotFoundResponseError$inboundSchema),
    M.jsonErr(408, errors.RequestTimeoutResponseError$inboundSchema),
    M.jsonErr(429, errors.TooManyRequestsResponseError$inboundSchema),
    M.jsonErr(500, errors.InternalServerResponseError$inboundSchema),
    M.jsonErr(502, errors.BadGatewayResponseError$inboundSchema),
    M.jsonErr(503, errors.ServiceUnavailableResponseError$inboundSchema),
    M.jsonErr(504, errors.GatewayTimeoutResponseError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
