openapi: 3.1.0
info:
  title: OpenRouter Chat Completions API
  version: 1.0.0
  description: OpenAI-compatible Chat Completions API with additional OpenRouter features
  contact:
    name: OpenRouter Support
    url: https://openrouter.ai/docs
    email: support@openrouter.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://openrouter.ai/api/v1
    description: Production server
  - url: https://openrouter.ai/api/v1/staging
    description: Staging server
security:
  - BearerAuth: []
    ApiKeyAuth: []
externalDocs:
  description: OpenRouter Documentation
  url: https://openrouter.ai/docs
paths:
  /chat/completions:
    post:
      summary: Create a chat completion
      description: Creates a model response for the given chat conversation. Supports both streaming and non-streaming modes.
      tags:
        - Chat
      requestBody:
        description: Chat completion request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionCreateParams'
      responses:
        '200':
          description: Successful chat completion response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChatCompletion'
                    description: Non-streaming response when stream=false
                  - $ref: '#/components/schemas/ChatCompletionChunk'
                    description: Individual chunk in streaming response when stream=true
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionChunk'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionError'
        '401':
          description: Unauthorized - invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionError'
        '429':
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key as bearer token in Authorization header
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key with "Bearer " prefix
  schemas:
    ChatCompletionRole:
      type: string
      enum:
        - system
        - user
        - assistant
        - tool
        - developer
      description: The role of the message author
    ChatCompletionContentPartText:
      type: object
      properties:
        type:
          type: string
          const: text
        text:
          type: string
      required:
        - type
        - text
      description: Text content part
    ChatCompletionContentPartImage:
      type: object
      properties:
        type:
          type: string
          const: image_url
        image_url:
          type: object
          properties:
            url:
              type: string
              description: 'URL of the image (data: URLs supported)'
            detail:
              type: string
              enum:
                - auto
                - low
                - high
              description: Image detail level for vision models
          required:
            - url
      required:
        - type
        - image_url
      description: Image content part for vision models
    ChatCompletionContentPartAudio:
      type: object
      properties:
        type:
          type: string
          const: input_audio
        input_audio:
          type: object
          properties:
            data:
              type: string
              description: Base64 encoded audio data
            format:
              type: string
              enum:
                - wav
                - mp3
                - flac
                - m4a
                - ogg
                - pcm16
                - pcm24
              description: Audio format
          required:
            - data
            - format
      required:
        - type
        - input_audio
      description: Audio input content part
    ChatCompletionContentPart:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionContentPartText'
        - $ref: '#/components/schemas/ChatCompletionContentPartImage'
        - $ref: '#/components/schemas/ChatCompletionContentPartAudio'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/ChatCompletionContentPartText'
          image_url: '#/components/schemas/ChatCompletionContentPartImage'
          input_audio: '#/components/schemas/ChatCompletionContentPartAudio'
      description: Content part for chat completion messages
    ChatCompletionMessageToolCall:
      type: object
      properties:
        id:
          type: string
          description: Tool call identifier
        type:
          type: string
          const: function
        function:
          type: object
          properties:
            name:
              type: string
              description: Function name to call
            arguments:
              type: string
              description: Function arguments as JSON string
          required:
            - name
            - arguments
      required:
        - id
        - type
        - function
      description: Tool call made by the assistant
    ChatCompletionTokenLogprob:
      type: object
      properties:
        token:
          type: string
          description: The token
        logprob:
          type: number
          description: Log probability of the token
        bytes:
          type:
            - array
            - 'null'
          items:
            type: number
          description: UTF-8 bytes of the token
        top_logprobs:
          type: array
          items:
            type: object
            properties:
              token:
                type: string
              logprob:
                type: number
              bytes:
                type:
                  - array
                  - 'null'
                items:
                  type: number
            required:
              - token
              - logprob
              - bytes
          description: Top alternative tokens with probabilities
      required:
        - token
        - logprob
        - bytes
        - top_logprobs
      description: Token log probability information
    ChatCompletionTokenLogprobs:
      type: object
      properties:
        content:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/ChatCompletionTokenLogprob'
          description: Log probabilities for content tokens
        refusal:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/ChatCompletionTokenLogprob'
          description: Log probabilities for refusal tokens
      required:
        - content
        - refusal
      description: Log probabilities for the completion
    CompletionUsage:
      type: object
      properties:
        completion_tokens:
          type: number
          description: Number of tokens in the completion
        prompt_tokens:
          type: number
          description: Number of tokens in the prompt
        total_tokens:
          type: number
          description: Total number of tokens
        completion_tokens_details:
          type: object
          properties:
            reasoning_tokens:
              type: number
              description: Tokens used for reasoning
            audio_tokens:
              type: number
              description: Tokens used for audio output
            accepted_prediction_tokens:
              type: number
              description: Accepted prediction tokens
            rejected_prediction_tokens:
              type: number
              description: Rejected prediction tokens
          description: Detailed completion token usage
        prompt_tokens_details:
          type: object
          properties:
            cached_tokens:
              type: number
              description: Cached prompt tokens
            audio_tokens:
              type: number
              description: Audio input tokens
          description: Detailed prompt token usage
      required:
        - completion_tokens
        - prompt_tokens
        - total_tokens
      description: Token usage statistics
    ChatCompletionSystemMessageParam:
      type: object
      properties:
        role:
          type: string
          const: system
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ChatCompletionContentPartText'
          description: System message content
        name:
          type: string
          description: Optional name for the system message
      required:
        - role
        - content
      description: System message for setting behavior
    ChatCompletionUserMessageParam:
      type: object
      properties:
        role:
          type: string
          const: user
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ChatCompletionContentPart'
          description: User message content
        name:
          type: string
          description: Optional name for the user
      required:
        - role
        - content
      description: User message
    ChatCompletionAssistantMessageParam:
      type: object
      properties:
        role:
          type: string
          const: assistant
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ChatCompletionContentPart'
            - type: 'null'
          description: Assistant message content
        name:
          type: string
          description: Optional name for the assistant
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionMessageToolCall'
          description: Tool calls made by the assistant
        refusal:
          type:
            - string
            - 'null'
          description: Refusal message if content was refused
      required:
        - role
      description: Assistant message with tool calls and audio support
    ChatCompletionToolMessageParam:
      type: object
      properties:
        role:
          type: string
          const: tool
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ChatCompletionContentPart'
          description: Tool response content
        tool_call_id:
          type: string
          description: ID of the tool call this message responds to
      required:
        - role
        - content
        - tool_call_id
      description: Tool response message
    ChatCompletionMessageParam:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionSystemMessageParam'
        - $ref: '#/components/schemas/ChatCompletionUserMessageParam'
        - $ref: '#/components/schemas/ChatCompletionAssistantMessageParam'
        - $ref: '#/components/schemas/ChatCompletionToolMessageParam'
      discriminator:
        propertyName: role
        mapping:
          system: '#/components/schemas/ChatCompletionSystemMessageParam'
          user: '#/components/schemas/ChatCompletionUserMessageParam'
          assistant: '#/components/schemas/ChatCompletionAssistantMessageParam'
          tool: '#/components/schemas/ChatCompletionToolMessageParam'
      description: Chat completion message with role-based discrimination
    ChatCompletionTool:
      type: object
      properties:
        type:
          type: string
          const: function
        function:
          type: object
          properties:
            name:
              type: string
              maxLength: 64
              description: Function name (a-z, A-Z, 0-9, underscores, dashes, max 64 chars)
            description:
              type: string
              description: Function description for the model
            parameters:
              type: object
              additionalProperties: {}
              description: Function parameters as JSON Schema object
            strict:
              type:
                - boolean
                - 'null'
              description: Enable strict schema adherence
          required:
            - name
          description: Function definition for tool calling
      required:
        - type
        - function
      description: Tool definition for function calling
    ChatCompletionNamedToolChoice:
      type: object
      properties:
        type:
          type: string
          const: function
        function:
          type: object
          properties:
            name:
              type: string
              description: Function name to call
          required:
            - name
      required:
        - type
        - function
      description: Named tool choice for specific function
    ChatCompletionToolChoiceOption:
      anyOf:
        - type: string
          const: none
        - type: string
          const: auto
        - type: string
          const: required
        - $ref: '#/components/schemas/ChatCompletionNamedToolChoice'
      description: Tool choice configuration
    ChatCompletionStreamOptions:
      type: object
      properties:
        include_usage:
          type: boolean
          description: Include usage information in streaming response
      description: Streaming configuration options
    ChatCompletionCreateParams:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionMessageParam'
          minItems: 1
          description: List of messages for the conversation
        model:
          anyOf:
            - type: string
              enum:
                - openai/gpt-4o
                - openai/gpt-4o-2024-11-20
                - openai/gpt-4o-2024-08-06
                - openai/gpt-4o-2024-05-13
                - openai/gpt-4o-mini
                - openai/gpt-4o-mini-2024-07-18
                - openai/gpt-4-turbo
                - openai/gpt-4-turbo-2024-04-09
                - openai/gpt-4
                - openai/gpt-4-0613
                - openai/gpt-3.5-turbo
                - openai/gpt-3.5-turbo-0125
                - openai/o1
                - openai/o1-2024-12-17
                - openai/o1-preview
                - openai/o1-preview-2024-09-12
                - openai/o1-mini
                - openai/o1-mini-2024-09-12
                - anthropic/claude-3.5-sonnet
                - anthropic/claude-3.5-sonnet-20241022
                - anthropic/claude-3.5-haiku
                - anthropic/claude-3.5-haiku-20241022
                - anthropic/claude-3-opus
                - anthropic/claude-3-sonnet
                - anthropic/claude-3-haiku
                - google/gemini-pro-1.5
                - google/gemini-pro-1.5-exp
                - google/gemini-flash-1.5
                - google/gemini-flash-1.5-8b
                - meta-llama/llama-3.1-405b-instruct
                - meta-llama/llama-3.1-70b-instruct
                - meta-llama/llama-3.1-8b-instruct
                - meta-llama/llama-3.2-90b-vision-instruct
                - meta-llama/llama-3.2-11b-vision-instruct
                - meta-llama/llama-3.2-3b-instruct
                - meta-llama/llama-3.2-1b-instruct
                - mistralai/mistral-large
                - mistralai/mistral-medium
                - mistralai/mistral-small
                - mistralai/codestral-latest
                - cohere/command-r-plus
                - cohere/command-r
                - perplexity/llama-3.1-sonar-large-128k-online
                - perplexity/llama-3.1-sonar-small-128k-online
              description: Available OpenRouter chat completion models
            - type: string
          description: Model to use for completion
        frequency_penalty:
          type:
            - number
            - 'null'
          minimum: -2
          maximum: 2
          description: Frequency penalty (-2.0 to 2.0)
        logit_bias:
          type:
            - object
            - 'null'
          additionalProperties:
            type: number
          description: Token logit bias adjustments
        logprobs:
          type:
            - boolean
            - 'null'
          description: Return log probabilities
        top_logprobs:
          type:
            - number
            - 'null'
          minimum: 0
          maximum: 20
          description: Number of top log probabilities to return (0-20)
        max_completion_tokens:
          type:
            - number
            - 'null'
          minimum: 1
          description: Maximum tokens in completion
        max_tokens:
          type:
            - number
            - 'null'
          minimum: 1
          description: Maximum tokens (deprecated, use max_completion_tokens)
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs for additional object information (max 16 pairs, 64 char keys, 512 char values)
        presence_penalty:
          type:
            - number
            - 'null'
          minimum: -2
          maximum: 2
          description: Presence penalty (-2.0 to 2.0)
        reasoning:
          type: object
          properties:
            effort:
              type:
                - string
                - 'null'
              enum:
                - minimal
                - low
                - medium
                - high
                - null
              description: Constrains effort on reasoning for reasoning models
            generate_summary:
              type:
                - string
                - 'null'
              enum:
                - auto
                - concise
                - detailed
                - null
            summary:
              type:
                - string
                - 'null'
              enum:
                - auto
                - concise
                - detailed
                - null
          description: Configuration options for reasoning models
        response_format:
          oneOf:
            - type: object
              properties:
                type:
                  type: string
                  const: text
              required:
                - type
              description: Default text response format
            - type: object
              properties:
                type:
                  type: string
                  const: json_object
              required:
                - type
              description: JSON object response format
            - type: object
              properties:
                type:
                  type: string
                  const: json_schema
                json_schema:
                  type: object
                  properties:
                    name:
                      type: string
                      maxLength: 64
                      description: Schema name (a-z, A-Z, 0-9, underscores, dashes, max 64 chars)
                    description:
                      type: string
                      description: Schema description for the model
                    schema:
                      type: object
                      additionalProperties: {}
                      description: JSON Schema object
                    strict:
                      type:
                        - boolean
                        - 'null'
                      description: Enable strict schema adherence
                  required:
                    - name
              required:
                - type
                - json_schema
              description: JSON Schema response format for structured outputs
            - type: object
              properties:
                type:
                  type: string
                  const: grammar
                grammar:
                  type: string
                  description: Custom grammar for text generation
              required:
                - type
                - grammar
              description: Custom grammar response format
            - type: object
              properties:
                type:
                  type: string
                  const: python
              required:
                - type
              description: Python code response format
          description: Response format configuration
        seed:
          type:
            - integer
            - 'null'
          description: Random seed for deterministic outputs
        stop:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
              maxItems: 4
            - type: 'null'
          description: Stop sequences (up to 4)
        stream:
          type:
            - boolean
            - 'null'
          default: false
          description: Enable streaming response
        stream_options:
          oneOf:
            - $ref: '#/components/schemas/ChatCompletionStreamOptions'
            - type: 'null'
        temperature:
          type:
            - number
            - 'null'
          minimum: 0
          maximum: 2
          default: 1
          description: Sampling temperature (0-2)
        tool_choice:
          $ref: '#/components/schemas/ChatCompletionToolChoiceOption'
        tools:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionTool'
          description: Available tools for function calling
        top_p:
          type:
            - number
            - 'null'
          minimum: 0
          maximum: 1
          default: 1
          description: Nucleus sampling parameter (0-1)
        user:
          type: string
          description: Unique user identifier
      required:
        - messages
        - model
      description: Chat completion request parameters
    ChatCompletionMessage:
      type: object
      properties:
        role:
          type: string
          const: assistant
        content:
          type:
            - string
            - 'null'
          description: Message content
        reasoning:
          type:
            - string
            - 'null'
          description: Reasoning output
        refusal:
          type:
            - string
            - 'null'
          description: Refusal message if content was refused
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionMessageToolCall'
          description: Tool calls made by the assistant
      required:
        - role
        - content
        - refusal
      description: Assistant message in completion response
    ChatCompletionChoice:
      type: object
      properties:
        finish_reason:
          type:
            - string
            - 'null'
          enum:
            - tool_calls
            - stop
            - length
            - content_filter
            - error
            - null
          description: Reason the completion finished
        index:
          type: number
          description: Choice index
        message:
          $ref: '#/components/schemas/ChatCompletionMessage'
        logprobs:
          oneOf:
            - $ref: '#/components/schemas/ChatCompletionTokenLogprobs'
            - type: 'null'
      required:
        - finish_reason
        - index
        - message
      description: Chat completion choice
    ChatCompletion:
      type: object
      properties:
        id:
          type: string
          description: Unique completion identifier
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
          description: List of completion choices
        created:
          type: number
          description: Unix timestamp of creation
        model:
          type: string
          description: Model used for completion
        object:
          type: string
          const: chat.completion
        system_fingerprint:
          type: string
          description: System fingerprint
        usage:
          $ref: '#/components/schemas/CompletionUsage'
      required:
        - id
        - choices
        - created
        - model
        - object
      description: Chat completion response
    ChatCompletionError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type:
                - string
                - 'null'
            message:
              type: string
            param:
              type:
                - string
                - 'null'
            type:
              type: string
          required:
            - code
            - message
            - param
            - type
          description: Error object structure
      required:
        - error
      description: Chat completion error response
    ChatCompletionChunkChoiceDeltaToolCall:
      type: object
      properties:
        index:
          type: number
          description: Tool call index in the array
        id:
          type: string
          description: Tool call identifier
        type:
          type: string
          const: function
          description: Tool call type
        function:
          type: object
          properties:
            name:
              type: string
              description: Function name
            arguments:
              type: string
              description: Function arguments as JSON string
          description: Function call details
      required:
        - index
      description: Tool call delta for streaming responses
    ChatCompletionChunkChoiceDelta:
      type: object
      properties:
        role:
          type: string
          enum:
            - assistant
          description: The role of the message author
        content:
          type:
            - string
            - 'null'
          description: Message content delta
        reasoning:
          type:
            - string
            - 'null'
          description: Reasoning content delta
        refusal:
          type:
            - string
            - 'null'
          description: Refusal message delta
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChunkChoiceDeltaToolCall'
          description: Tool calls delta
      description: Delta changes in streaming response
    ChatCompletionChunkChoice:
      type: object
      properties:
        delta:
          $ref: '#/components/schemas/ChatCompletionChunkChoiceDelta'
        finish_reason:
          type:
            - string
            - 'null'
          enum:
            - tool_calls
            - stop
            - length
            - content_filter
            - error
            - null
        index:
          type: number
        logprobs:
          oneOf:
            - $ref: '#/components/schemas/ChatCompletionTokenLogprobs'
            - type: 'null'
      required:
        - delta
        - finish_reason
        - index
      description: Streaming completion choice chunk
    ChatCompletionChunk:
      type: object
      properties:
        id:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChunkChoice'
        created:
          type: number
        model:
          type: string
        object:
          type: string
          const: chat.completion.chunk
        system_fingerprint:
          type: string
        usage:
          $ref: '#/components/schemas/CompletionUsage'
      required:
        - id
        - choices
        - created
        - model
        - object
      description: Streaming chat completion chunk
